@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

 *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
 }

 body{

 }

 nav{
    background: rgb(56, 84, 19);
    height: 95px;
    max-width: 100%;
 }

 .logo{
    color: lightgrey;
    font-size: 40px;
    line-height: 85px;
    padding: 0 80px;
    font-family: 'Rubik Spray Paint';
 }

 nav ul{
    float: right;
    margin-right: 20px;
 }

 nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
 }

nav li a{
    color: lightgray;
    font-size: 30px;
    font-family: 'Rubik Spray Paint';
}

a:hover{
    color: rgb(20, 37, 13);
}

body{
    background: rgb(255, 255, 255);
}

#goat {
    border-radius: 100px;
    height: 400px;
    width: auto;
    margin-left: 200px;
    margin-top: 75px;
}

#parrot{
    height: auto;
    width: 100%;
    float:left
}

.container {
    position: relative;
    text-align: center;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightgrey;
    font-family: 'Rubik Spray Paint';
    font-size: 100px;
  }

  h2{
    font-family: ;
  }

#mat1 {

}
#mat2 {

}
#mat3 {

}
#mat4 {

}
#mat5 {

}
#mat6 {

}

