@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
 }

 /* homepage */

header{
    background: rgb(56, 84, 19);
    height: 95px;
    max-width: 100%;
 }

.logo{
    color: lightgrey;
    font-size: 40px;
    line-height: 85px;
    padding: 0 80px;
    font-family: 'Rubik Spray Paint';
 }

ul{
    float: right;
    margin-right: 20px;
 }

li{
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
 }

a{
    color: lightgray;
    font-size: 30px;
    font-family: 'Rubik Spray Paint';
}

a:hover{
    color: rgb(20, 37, 13);
}

body{
    background: rgb(255, 255, 255);
}

#goat {
    border-radius: 100px;
    height: 400px;
    width: auto;
    margin-top: 75px;
    margin-left: 100px;
    margin-bottom: 300px;

}

#parrot{
    height: auto;
    width: 100%;
    float:left
}

.container {
    position: relative;
    text-align: center;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightgrey;
    font-family: 'Rubik Spray Paint';
    font-size: 100px;
  }

h2{
  
}

#varför_oss_text_och_bild{ 
  justify-content: space-around;
}

footer{
  background: rgb(56, 84, 19);
  height: 70px;
  max-width: 100%;
}

main{
background: rgb(147, 161, 127);
height: 500px;
}

/* resturang */

#restaurang{
  background:rgb(147, 161, 127);
}

#restaurang_h1{
  margin-left: 150px;
  margin-top: 50px;
}

#toprestaurang_gridwrapper{
  display: grid;
  grid-template-areas: 
  "rp rp rb"
;
}

#restaurang_bild_toppen{
  grid-area: rb;
  border-radius: 100px;
  width: 600px;
  margin-right: 75px;
  margin-left: 100px;
}

#restaurang_p_loremtext{
  grid-area: rp;
  margin-left: 75px;
  padding-top: 75px;
}

#meny_h2{
  display: flex;
  justify-content: center;
}

#grid_wrapper{
  display: grid;
  grid-template-areas: 
  "m1 m2 m3"
  "m4 m5 m6";
  justify-content: space-between;
  margin: 75px;
}

#mat1{
  grid-area: m1;
  }

#mat2{
grid-area: m2;
}

#mat3{
grid-area: m3;
}

#mat4{
grid-area: m4;
margin-top: 150px;
}

#mat5{
grid-area: m5;
margin-top: 150px;
}

#mat6{
grid-area: m6;
margin-top: 150px;
}

.mat{
  height: 500px;
  width: 400px;
  padding: 10px;
  background: rgb(71, 101, 32);
}

.bild_mat{
  height: 230px;
  width: 380px;
}

.mat_namn{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Rubik Spray Paint';
  font-size: 40px;
}

.mat_beskrivning{
  margin-left: 20px;
  margin-right: 20px;
}

